<div class="container">
    <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./admin">Administration</a>
  </li>

</ul>
    <div class="row">
    
        <div class="col-mod-12">
            <!-- GET -->
            <h1 style="text-align: center;">Methode GET : Permet d'afficher</h1>
        </div>
    </div>   
        <div class="row">
            <div class="col-md-6">
                
                    <div class="card" style="margin-bottom:15px;">
                        <div class="card-body">
                            
                            <ul class="list-group list-group-flush">
                                {{#each trou}}
                                <h3>Trou n°</h3>
                                <li class="list-group-item">{{this.trou}}</li>
                                <h3>Par</h3>
                                <li class="list-group-item">{{this.par}}</li>
                                <h3>Handicap</h3>
                                <li class="list-group-item">{{this.handicap}}</li>
                                <h3>Départ Rouge</h3>
                                <li class="list-group-item">{{this.departrouge}}</li>
                                <h3>Départ Bleu</h3>
                                <li class="list-group-item">{{this.departbleu}}</li>
                                <h3>Départ Jaune</h3>
                                <li class="list-group-item">{{this.departjaune}}</li>
                                <h3>Départ Blanc</h3>
                                <li class="list-group-item">{{this.departblanc}}</li>
                                {{/each}}
                            </ul>
                        </div>
                
                    </div>
            </div>
            <div class="col-md-6">
                {{#each trou}}
                <img src="{{this.photo.path}}" alt="" style="width: 50%;height:580px; margin-bottom:10px">
                {{/each}}
            </div>
                    
        </div>

</div>